# Ignore build files/folders
node_modules/
.expo/

# Ignore test result files.
coverage/
instrument/
.nyc_output/

# Ignore github config
.github/

# Ignore specific files
*.md
package-lock.json

fonts.js

App.sentry.tsx
metro.config.sentry.js
