name: Build

on:
    push:
        branches:
            - main
            - development
    pull_request:
        branches:
            - main
            - development
            - development-fix

jobs:
    build:
        runs-on: self-hosted
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - uses: ./.github/prepare-action
              with:
                  openai-api-key: ${{ secrets.OPENAI_API_KEY }}
                  app-debug: false
                  wp-username: ${{ secrets.WP_USERNAME }}
                  wp-password: ${{ secrets.WP_PASSWORD }}
                  node-version: 18.x

            - name: Install NPM dependencies
              run: npm ci

            - name: Run Expo doctor
              run: npm run expo:doctor

            - name: Run ESLint
              run: npm run lint:run

            - name: Run Prettier
              run: npm run prettier:run

            - name: Run TypeScript check
              run: npm run tsc:run

            - name: Run Unit & Component tests
              run: npm run jest-less-strict:run

            - uses: ./.github/cleanup-action
              if: always()
